body {
  background: url("/cubecast/chessboard.jpg") no-repeat center center fixed;
  background-size: cover;
}

.viewport {
  backdrop-filter: blur(12px);
  background: rgba(0,0,0,0.7);
}

.cubecast-logo {
  position: absolute;
  bottom: 18px;
  right: 18px;
  width: 64px;
  opacity: 0.85;
}
